<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Pre-workshop survey</a> </td>
      </tr>
      <tr>
        <td>09:00</td>
        <td>Automating Tasks with the Unix Shell</td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Morning break</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>Automating Tasks with the Unix Shell (Continued)</td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>Version Control with Git</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Afternoon break</td>
      </tr>
      <tr>
        <td>15:15</td>
        <td>Version Control with Git (Continued)</td>
      </tr>
      <tr>
        <td>16:15</td>
        <td>Wrap-up</td>
      </tr>
      <tr>
        <td>16:30</td>
        <td>END</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td>R for Reproducible Scientific Analysis</td><br />
          <a
            href="https://github.com/sipbs-compbiol/2025-06-16-strathclyde/blob/gh-pages/lessons/mf_R_lesson/Rsession1.pptx">Slides</a>
          |
          <a
            href="">Notes</a>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Morning break</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>R for Reproducible Scientific Analysis (Continued)<br />
          <a
            href="https://sipbs-compbiol.github.io/2025-06-16-strathclyde/lessons/mf_R_lesson/Rsession1.pptx">Slides</a>
          |
          <a
            href="https://sipbs-compbiol.github.io/2025-06-16-strathclyde/lessons/mf_R_lesson/lesson1-3.html">Notes</a>
        </td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td>R for Reproducible Scientific Analysis (Continued)<br />
          <a
            href="https://sipbs-compbiol.github.io/2025-06-16-strathclyde/lessons/lp_R_lesson/lp_R_lesson.html#/title-slide">Slides</a>
          |
          <a
            href="https://sipbs-compbiol.github.io/2025-06-16-strathclyde/lessons/lp_R_lesson/lp_R_lesson_notes.html">Notes</a>
        </td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Afternoon break</td>
      </tr>
      <tr>
        <td>15:15</td>
        <td>R for Reproducible Scientific Analysis (Continued)</td><br />
          <a
            href="https://sipbs-compbiol.github.io/2025-06-16-strathclyde/lessons/mf_R_lesson/Rsession4.pptx">Slides</a>
          |
          <a
            href="https://sipbs-compbiol.github.io/2025-06-16-strathclyde/lessons/mf_R_lesson/lesson814.html">Notes</a>
      </tr>
      <tr>
        <td>16:15</td>
        <td>Wrap-up</td>
      </tr>
      <tr>
        <td>16:30</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Post-workshop Survey</a></td>
      </tr>
      <tr>
        <td>16:40</td>
        <td>END</td>
      </tr>
    </table>
  </div>
</div>
